@use 'colors';
@use 'spacing';

$button-active-color: #CCAAAA;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: spacing.$content-height;
  padding-bottom: spacing.$menu-height;
}

.counter {
  font-size: 5rem;
  color: colors.$primary-text-color;
}

.button {
  font-size: 3rem;
  background-color: colors.$accent-color;
  color: colors.$primary-color;
  padding: 3vw 3vh;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  /* Ripple effect */
  background-position: center;
  transition: background 0.8s;
  &:hover {
    background: $button-active-color radial-gradient(circle, transparent 1%, $button-active-color 1%) center/15000%;
  }
  &:active {
    background-color: $button-active-color;
    background-size: 100%;
    transition: background 0s;
  } 
}