.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70vh;
}

.post{
  display: flex;
  flex-direction: column;
  background: #EFEFEF;
  margin: 2vh 0;
  padding: 1vh 3vw;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #AAA;
}

.postTitle {
  color: #2A3A4A;
  font-size: 1.2rem;
} 

.postContent {
  color: #3A4A5A;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}