@use 'colors';
@use 'spacing';

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: spacing.$content-height;
  padding-bottom: 3vh;
}

.post{
  display: flex;
  flex-direction: column;
  background: colors.$secondary-color;
  margin: 2vh 0;
  padding: 1vh 3vw;
  border-radius: 10px;
  box-shadow: 2px 2px 10px colors.$shadow-color;
}

.postTitle {
  color: colors.$primary-text-color;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} 

.postContent {
  color: colors.$secondary-text-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8rem;
}

.divider {
  height: 2px;
  background-color: rgba(100, 100, 100, 0.05);
  margin: 0.5vh 0 1vh 0;
}