.flexContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f9f8f7;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding: 1vh 5vw;
  background-color: #CC6666;
  box-shadow: 0 2px 5px #AAA;
}

.heading {
  color: #f9f8f7;
  text-align: center;
}

.content {
  height: 70vh;
  padding: 1vh 7vw;
}