@use 'colors';
@use 'spacing';

.flexContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: colors.$primary-color;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: spacing.$header-height;
  padding: 1vh 5vw;
  background-color: colors.$accent-color;
  box-shadow: 0 2px 5px colors.$shadow-color;
}

.heading {
  color: colors.$primary-color;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
}

.content {
  min-height: spacing.$content-height;
  padding: 1vh 7vw;
  margin-bottom: spacing.$menu-height;
}