@use 'colors';
@use 'spacing';

.songContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: spacing.$content-height;
}

.song {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: colors.$secondary-color;
  margin: 2vh 0;
  padding: 2vh 3vw;
  border-radius: 5px;
  box-shadow: 2px 2px 10px colors.$shadow-color;
}

.songTitle {
  width: 50vw;
  color: colors.$primary-text-color;
}